<h1 class="page-title">Block</h1>

<div class="block">
    Block
</div>

<%- code`
<div class="block">
    Block
</div>
` %>

<div class="block primary">
    Block primary
</div>

<%- code`
<div class="block primary">
    Block primary
</div>
` %>


See also: <a href="card">Card</a>
