<h1 class="page-title">Button</h1>

<button>
    Content
</button>

<%- code`
<button>
    Content
</button>
` %>


<a href="#" class="button">
    Link to something
</a>

<%- code`
<a href="#" class="button">
    Link to something
</a>
` %>



<a href="#" class="button disabled" onclick="return false">
    Link to something
</a>

<%- code`
<a href="#" class="button disabled" onclick="return false">
    Link to something
</a>
` %>


<a href="#" class="button flat">
    Close
</a>

<%- code`
<a href="#" class="button flat">
    Close
</a>
` %>

