<h1 class="page-title">Card</h1>

<div class="row row-responsive spaced">
    <div class="col w-200">
        <div class="card">
            <div class="content">
                <h3 class="card-title text-headline">
                    title
                </h3>
                content
            </div>
        </div>
    </div>
    <div class="col">
        <%- code`
<div class="card">
    <div class="content">
        <h3 class="card-title text-headline">
            title
        </h3>
        content
    </div>
</div>
        ` %>
    </div>
</div>
