<h1 class="page-title">Dropdown</h1>

<h2 class="text-title">Dropdown Menu</h2>

<ul class="vertical list">
    <li>Item1</li>
    <li class="dropdown">
        Item 2
        <ul class="list">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
    </li>
</ul>

<h2 class="text-title">Dropdown Button</h2>

<div class="dropdown button">
    Actions
    <ul class="list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ul>
</div>
