<h1 class="page-title">Navbar</h1>

<nav class="navbar">
    <ul>
        <li class="navbar-item"><a class="button flat" href="#">Link 1</a></li>
        <li class="navbar-item"><a class="button flat" href="#">Link 2</a></li>
        <li class="navbar-item"><a class="button flat" href="#">Link 3</a></li>
    </ul>
</nav>
