<h1 class="page-title">Text: paragraphs</h1>

<h2 class="text-title">&lt;p&gt;: paragraph</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales congue nibh et sodales. Integer dapibus metus a quam pulvinar, nec lobortis lorem mattis. Aliquam odio arcu, accumsan et velit et, bibendum volutpat nisl. Praesent convallis sit amet magna a fermentum. Maecenas facilisis sapien libero, id bibendum lorem imperdiet a. Sed condimentum est ut aliquet auctor. Proin gravida mollis pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


<h2 class="text-title">&lt;article&gt;</h2>

<p>The <a href="http://www.w3.org/TR/html-markup/article.html">article element</a>
    represents a section of content that forms an independent part of a document or site;
    for example, a magazine or newspaper article, or a blog entry.</p>

<p>See <a href="http://html5doctor.com/the-article-element/">html5doctor</a> for more information</a></p>

<article>
  <header>
    <h1>Apple</h1>
    <p>Published: <time pubdate="pubdate">2009-10-09</time></p>
  </header>
  <p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
  ...
  <footer>
    <p><small>Creative Commons Attribution-ShareAlike License</small></p>
  </footer>
</article>

<%- code`
<article>
  <header>
    <h1>Apple</h1>
    <p>Published: <time pubdate="pubdate">2009-10-09</time></p>
  </header>
  <p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
  ...
  <footer>
    <p><small>Creative Commons Attribution-ShareAlike License</small></p>
  </footer>
</article>
` %>

<h2 class="text-title">&lt;section&gt;</h2>

<p>The <a href="http://www.w3.org/TR/html-markup/section.html">section element</a>
    represents </p>
