.row
    display flex
    flex 0 1 auto
    width 100%

    > *
        display table-cell
        vertical-align top /* Opera */


@supports(display: flex)
    .row
        display flex
        flex-flow row wrap
        align-items stretch

        > *
            flex-grow 1
            display block

            &[class*=' wp-'], &[class*=' w-']
                flex-grow 0

            &.start
                align-self flex-start
                flex-grow 0

            &.end
                align-self flex-end
                flex-grow 0

            &.center
                align-self center
                flex-grow 0

            &.stretch
                align-self stretch
                flex-grow 0

        &.start
            justify-content flex-start

        &.center
            justify-content center

        &.end
            justify-content flex-end

        &.space-between
            justify-content space-between

        &.space-around
            justify-content space-around

        &.items-start
            align-items flex-start

        &.items-end
            align-items flex-end

        &.items-center
            align-items center

        &.items-stretch
            align-items stretch

.row.spaced
    > *
        padding-left .5rem
        padding-right .5rem
        &:first-child
            padding-left 0
        &:last-child
            padding-right 0

for w in 100 150 200 250 300
    .w-{w}
        width 1px * w

for w in 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
    .wp-{w}
        width 1% * w

.wp-33
    width 33.33%

.wp-66
    width 66.66%

@media $small-and-down
    .row-responsive, .responsive
        display block

        > *
            display block
            width auto
            // [class*=' wp-'], [class*=' w-']
            // width auto

        &.spaced
            > *
                padding-left 0
                padding-right 0
                padding-top .5rem
                padding-bottom .5rem
                &:first-child
                    padding-top 0
                &:last-child
                    padding-bottom 0

