.list
    block-margin()
    color $list-color
    background $list-background

    > *
        margin 0
        padding-left 1rem
        line-height 2rem

.list.simple
    border none
    border-radius 0
    list-style disc
    padding-left 1rem

    > *
        padding 0
        border none

    &.ordered
        list-style decimal

.list.multiline
    // border $list-border

    > *
        margin 1rem 0
        // border-bottom $list-border
        line-height inherit

        &:last-child
            border-bottom none


.list.links
    > * > a
        display block
        text-decoration none

.list .list
    border-left $list-border
    border-right none
    margin 0 0 0 5px

.list.vertical
    display inline-block
    margin-bottom $default-topBottom-margin
    > *
        display inline-block
        border-right $list-border

        &:last-child
            border-right none

.list.block
    padding 0
