<h1 class="page-title">Tables</h1>


<div class="row row-responsive spaced">
    <div class="col w-300">
        <h2 class="text-paragraph-title"><%= '<table class="table">' %></h2>
        <table class="table">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th>Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col w-300">
        <h2 class="text-paragraph-title"><%= 'class="table striped"' %></h2>
        <table class="table striped">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th class="shrink">Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col w-300">
        <h2 class="text-paragraph-title"><%= 'class="table centered"' %></h2>
        <table class="table centered">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th>Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
</div>

<%- code`
<div class="row row-responsive spaced">
    <div class="col w-300">
        <table class="table">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th>Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col w-300">
        <table class="table striped">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th>Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col w-300">
        <table class="table centered">
            <thead>
                <tr><th>Col1</th><th>Col2</th><th>Col3</th></tr>
            </thead>
            <tbody>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
                <tr><td>val1</td><td>val2</td><td>val3</td></tr>
            </tbody>
        </table>
    </div>
</div>
` %>
