$badge-color ?= #777

.badge
    @extends .bold
    display inline
    padding 1px .4rem
    background $badge-color
    color find-best-fg-color($badge-color)
    font-size 85%
    line-height 1
    text-align center
    white-space nowrap
    border-radius 1em
    vertical-align baseline

    &:empty
    	display none
