@import "label"

$badge-color ?= #777

/* Used to display a number of items eg Messages (10) */
.badge
    @extend .label
    background $badge-color
    color find-best-fg-color($badge-color)
    border-radius 1em
    vertical-align middle
    margin-top -2px

    &:empty
    	display none
