$page-100 = false

@require '../../styl/index';
@require '../../styl/components/index';

.nav-col
    absolute
    fixed top left bottom
    width 200px
    overflow auto

.main-col
   margin-left 210px
