<div class="home-banner">
    <div class="container">
        <h1 class="page-title">Turaco Styl</h1>
        <div>A modern responsive components-oriented framework</div>
        <a class="button" href="/getting-started">Get Started</a>
    </div>
</div>


<p>
    Turaco Styl is highly customisable, easy to use, and improve the user experience.
    Written in stylus, and compatible with IE7+.
</p>


<h2 class="text-paragraph-title">Ideas</h2>

<p>
    The framework is based on <a href="http://www.google.com/design">material design</a>.
    It uses <code>rem</code> with a fallback to <code>px</code>, grids are based on <code>flex</code> with a fallback to <code>display: table</code> or even <code>float</code>.
</p>

<h2 class="text-paragraph-title">Compatible</h2>

<p>
    Old versions of IE are supported in degraded mode. Your site will still be functional, but not as pretty.
</p>
