// $primary-color ?= #435A64
$primary-color ?= #2580A2

$interaction-default-color ?= #20718d
$interaction-current-color ?= #e65730
$interaction-hover-color ?= $interaction-current-color

// $interaction-default-background-color ?= #2580A2
$interaction-current-border-color ?= #8D203A
$interaction-hover-border-color ?= $interaction-default-border-color

$pre-color ?= #eee
$pre-background ?= #1b2426

$blockquote-border-color ?= #2580A2
